
amt/logs/
.idea/
LICENSE

amt/src/partial_betas_local_18.02.25_quantiloutliers_filtered.json
amt/src/betas_Server_calc1.json


.venv1/
data/

Dockerfile

data/guitarset_yourmt3_16k/audio_hex-pickup_debleeded/
data/guitarset_yourmt3_16k/audio_hex-pickup_original/
data/guitarset_yourmt3_16k/audio_mono-pickup_mix/

